
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>
    <style>
        .btn a {
            color: white;
            text-decoration: none
        }

        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    <div style="text-align: center">
        <h1>Welcome to MVC Application Development</h1>
        <h2>This is a project to learn MVC app development!</h2>

        <a class="btn btn-success" href="/Viewbag">Viewbag</a>
    </div>
</body>
</html>
